.abt-nav {
  display: flex;
  list-style-type: none; /* Removes default bullet points */
  padding: 0;
  margin: 0;
  gap: 1rem; /* Adds spacing between list items */
}

.abt-nav a:hover {
  color: brown;
}
